.prokeys-block.block-theme-plain {
    padding-top: 160px;
    padding-bottom: 160px;
    font-size: 14px;
    position: fixed;
    top: 50px;
    left: 25%;
    width: 50%;
    z-index: 1000; /* force on top */
}

.prokeys-block,
.prokeys-block *,
.prokeys-block ::before,
.prokeys-block ::after {
    box-sizing: border-box;
}

.prokeys-block .block-overlay {
    animation: block-fadein 0.5s;
    backface-visibility: hidden;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.prokeys-block .block-content {
    font-family: "Helvetica Neue", sans-serif;
    background: white;
    color: rgb(68, 68, 68);
    padding: 1em;
    padding-top: 25px;
    position: relative;
    margin: 0px auto;
    max-width: 100%;
    font-size: 1.1em;
    line-height: 1.5em;
    animation: block-fadein 0.5s;
    backface-visibility: hidden;
    background: white;
}

.prokeys-block .block-dialog-form {
    margin: 0px;
}

.prokeys-block .block-dialog-form .site-name {
    width: 300px;
}

.prokeys-block .block-dialog-message {
    margin-bottom: 0.5em;
}

.prokeys-block .block-dialog-buttons button,
.prokeys-block .block-dialog-form input {
    padding: 5px;
    color: black;
}

.prokeys-block .block-dialog-form input {
    border: 1px solid black;
}

.prokeys-block .block-dialog-buttons::after {
    content: "";
    display: table;
    clear: both;
}

.prokeys-block .block-dialog-button-primary {
    background: #c7ff71;
}

.prokeys-block .block-dialog-button-secondary {
    background: rgb(224, 224, 224);
}
