{
    "rules": {
        "indent": [
            1,
            "tab",
			{"SwitchCase": 1}
        ],
        "quotes": [
            1,
            "double"
        ],
        "linebreak-style": [
            2,
            "windows"
        ],
        "semi": [2, "always"],
		"no-console": [0],
		"no-constant-condition": [0]
    },
    "env": {
        "browser": true
    },
	"globals":{
		"chrome": false,
		"console": false
	},
    "extends": "eslint:recommended"
}